$primary: #f4623a;
$primary-color: #25cf42;
$button-colors: (
  primary: (
    color: #ffffff,
    bg-color: #2f55d4,
    bg-color-hover: #2443ac,
    border-color: #2f55d4,
    color-hover: #ffffff
  ),
  default: (
    color: #2f55d4,
    bg-color: #ffffff,
    bg-color-hover: #2f55d4,
    border-color: #2f55d4,
    color-hover: #ffffff
  )
);

//Reponsive
$breakpoints: (
  sm: 566px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
$sm: map-get($breakpoints, "sm");
$md: map-get($breakpoints, "md");
$lg: map-get($breakpoints, "lg");
$xl: map-get($breakpoints, "xl");
