<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <div class="index-page">
    <section class="index-page__section">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Navbar w/ text</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
            </ul>
            <span class="navbar-text">
              Navbar text with an inline element
            </span>
          </div>
        </nav>
      </div>
    </section>
    <section class="index-page__section">
      <div class="container">
        <div class="intro">
          <h2 class="intro__heading">Your Favorite Source of Free Bootstrap Themes</h2>
          <div class="hr intro__hr"> </div>
          <p class="intro__desc">Start Bootstrap can help you build better websites using the Bootstrap framework! Just
            download a theme and start customizing, no strings attached!</p>
          <button class="intro__btn btn btn-primary">Find Out More</button>
        </div>
      </div>
    </section>
    <section class="index-page__section">
      <div class="container">
        <div class="product">
          <h2 class="product__heading">We've got what you need!</h2>
          <p class="product__desc">Start Bootstrap has everything you need to get your new website up and running in
            no time! Choose one of our open source, free to download, and easy to use themes! No strings attached!</p>
          <button class="product__btn btn btn-light">Get Started!</button>
        </div>
      </div>
    </section>
    <section class="index-page__section">
      <div class="container">
        <div class="services">
          <h3 class="services__heading">At Your Service</h3>
          <div class="hr services__hr"> </div>
          <div class="services__child">
            <i class="fas fa-gem"></i>
            <h5 class="services__title">Sturdy Themes</h5>
            <p class="services__content">Our themes are updated regularly to keep them bug free!</p>
          </div>
          <div class="services__child">
            <i class="fas fa-laptop-code"></i>
            <h5 class="services__title">Sturdy Themes</h5>
            <p class="services__content">Our themes are updated regularly to keep them bug free!</p>
          </div>
          <div class="services__child">
            <i class="fas fa-heart"></i>
            <h5 class="services__title">Sturdy Themes</h5>
            <p class="services__content">Our themes are updated regularly to keep them bug free!</p>
          </div>
        </div>
      </div>
    </section>
    <section class="index-page__section">

      <div class="images d-flex flex-row">
        <img class="images__child" src="~images/Rectangle (4).png" alt="">
        <img class="images__child" src="~images/Rectangle (5).png" alt="">
        <img class="images__child" src="~images/Rectangle (6).png" alt="">
        <img class="images__child" src="~images/Rectangle (7).png" alt="">
        <img class="images__child" src="~images/Rectangle (8).png" alt="">
        <img class="images__child" src="~images/Rectangle (9).png" alt="">
      </div>

    </section>
    <section class="index-page__section">
      <div class="container">
        <div class="dowload">
          <h3 class="dowload__heading">Free Download at Start Bootstrap!</h3>
          <button class="btn btn-light dowload__btn">Download Now!</button>
        </div>
      </div>
    </section>
    <section class="index-page__section">
      <div class="container">
        <div class="footer">
          <h4 class="footer__heading">Let's Get In Touch!</h4>
          <hr class="footer__hr" />
          <p class="footer__content">Ready to start your next project with us? Give us a call or send us an email and we
            will get back to you as soon as possible!</p>
          <div class="footer__contact">
            <i class="fas fa-envelope"></i>
            <p class="">contact@yourwebsite.com</p>
          </div>
          <div class="footer__contact">
            <i class="fas fa-envelope"></i>
            <p class="">contact@yourwebsite.com</p>
          </div>
          <div class="footer__under">
            <p>Copyright © 2019 - Start Bootstrap</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>

</html>