<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <div class="index-page">
    <section class="index-page__section">
      <nav class="header navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-lg-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container">
        <div class="intro">
          <h2 class="intro__heading">Your Favorite Source of Free Bootstrap Themes</h2>
          <div class="hr intro__hr"> </div>
          <p class="intro__desc param">Start Bootstrap can help you build better websites using the Bootstrap framework!
            Just
            download a theme and start customizing, no strings attached!</p>
          <button class="intro__btn btn btn-primary">Find Out More</button>
        </div>
      </div>
    </section>
    <section class="index-page__section">
      <div class="container">
        <div class="product">
          <h2 class="product__heading">We've got what you need!</h2>
          <div class="hr product__hr"></div>
          <p class="product__desc param">Start Bootstrap has everything you need to get your new website up and running
            in
            no time! Choose one of our open source, free to download, and easy to use themes! No strings attached!</p>
          <button class="product__btn btn btn-light">Get Started!</button>
        </div>
      </div>
    </section>
    <section class="index-page__section">
      <div class="container">
        <div class="services">
          <h3 class="services__heading">At Your Service</h3>
          <div class="hr services__hr"> </div>
          <div class="services__list row">
            <div class="services__child col-12 col-md-6 col-lg-3">
              <i class="fas fa-gem"></i>
              <h5 class="services__title">Study Themes</h5>
              <p class="services__content param">Our themes are updated regularly to keep them bug free!</p>
            </div>
            <div class="services__child col-12 col-md-6 col-lg-3">
              <i class="fas fa-laptop-code"></i>
              <h5 class="services__title">Study Themes</h5>
              <p class="services__content param">Our themes are updated regularly to keep them bug free!</p>
            </div>
            <div class="services__child col-12 col-md-6 col-lg-3">
              <i class="fas fa-heart"></i>
              <h5 class="services__title">Study Themes</h5>
              <p class="services__content param">Our themes are updated regularly to keep them bug free!</p>
            </div>
            <div class="services__child col-12 col-md-6 col-lg-3">
              <i class="fas fa-heart"></i>
              <h5 class="services__title">Study Themes</h5>
              <p class="services__content param">Our themes are updated regularly to keep them bug free!</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="index-page__section">
      <div class="images row">
        <div class="images__container col-lg-4 col-6">
          <img class="images__child" src="~images/Rectangle (4).png" alt="">
          <div class="images__hover">
            <div class="images__text">
              <p class="images__heading">Category</p>
              <p class="images__name param">Project Name</p>
            </div>
          </div>
        </div>
        <div class="images__container col-lg-4 col-6">
          <img class="images__child" src="~images/Rectangle (5).png" alt="">
          <div class="images__hover">
            <div class="images__text">
              <p class="images__heading">Category</p>
              <p class="images__name param">Project Name</p>
            </div>
          </div>
        </div>
        <div class="images__container col-lg-4 col-6">
          <img class="images__child" src="~images/Rectangle (6).png" alt="">
          <div class="images__hover">
            <div class="images__text">
              <p class="images__heading">Category</p>
              <p class="images__name param">Project Name</p>
            </div>
          </div>
        </div>
        <div class="images__container col-lg-4 col-6">
          <img class="images__child" src="~images/Rectangle (7).png" alt="">
          <div class="images__hover">
            <div class="images__text">
              <p class="images__heading">Category</p>
              <p class="images__name param">Project Name</p>
            </div>
          </div>
        </div>
        <div class="images__container col-lg-4 col-6">
          <img class="images__child" src="~images/Rectangle (8).png" alt="">
          <div class="images__hover">
            <div class="images__text">
              <p class="images__heading">Category</p>
              <p class="images__name param">Project Name</p>
            </div>
          </div>
        </div>
        <div class="images__container col-lg-4 col-6">
          <img class="images__child" src="~images/Rectangle (9).png" alt="">
          <div class="images__hover">
            <div class="images__text">
              <p class="images__heading">Category</p>
              <p class="images__name param">Project Name</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="index-page__section">
      <div class="container">
        <div class="download">
          <h3 class="download__heading">Free Download at Start Bootstrap!</h3>
          <button class="btn btn-light dowload__btn">Download Now!</button>
        </div>
      </div>
    </section>
    <section class="index-page__section">
      <div class="container">
        <div class="contact">
          <h4 class="contact__heading">Let's Get In Touch!</h4>
          <hr class="hr" />
          <p class="contact__content param">Ready to start your next project with us? Give us a call or send us an email
            and
            we
            will get back to you as soon as possible!</p>
          <div class="contact__list row">
            <div class="contact__child col-12 col-lg-6">
              <i class="fas fa-phone"></i>
              <p class="param">+1 (202) 555-0149</p>
            </div>
            <div class="contact__child col-12 col-lg-6">
              <i class="fas fa-envelope"></i>
              <p class="param contact__child__mail">contact@yourwebsite.com</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="index-page__section">
      <div class="footer">
        <a class="footer__sign param">Copyright © 2019 - Start Bootstrap</a>
      </div>
  </div>
  </section>
</body>

</html>