@font-face {
  font-family: "MerriweatherSans";
  src: url("~fonts/MerriweatherSans-Regular.eot");
  src: url("~fonts/MerriweatherSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("~fonts/MerriweatherSans-Regular.woff2") format("woff2"),
    url("~fonts/MerriweatherSans-Regular.woff") format("woff"),
    url("~fonts/MerriweatherSans-Regular.ttf") format("truetype");
}
html,
body {
  font-family: MerriweatherSans;
}

@each $name, $colors in $button-colors {
  .text--#{$name} {
    color: map-get($colors, "bg-color");
  }
}
